// /* ---------- background color ---------- */
$bg-primary: #243769;
$bg-secondary: #938953;
$bg-gray: #595959;
$bg-white: #ffffff;
// /* ---------- font color ---------- */
$fc-primary: #243769;
$fc-secondary: #938953;
$fc-gray:#595959;

// /* ---------- sizes titles header---------- */
// sizes phone
$mpw-title-size-phone:65px;
$mpw-title-capital-phone:32px;
$mpw-title-size-s-phone:18px;

// sizes tablet
$mpw-title-size-tablet:100px;
$mpw-title-capital-tablet:50px;
$mpw-title-size-s-tablet:25px;

// sizes desktop
$mpw-title-size-desktop:100px;
$mpw-title-capital-desktop:50px;
$mpw-title-size-s-desktop:25px;

// width of the content-header
$content-width-header:275px;
$content-width-header-tablet:400px;
$content-width-header-desktop:400px;


// /* -------------------- */
// /* -- general  sizes -- */
// /* -------------------- */
$title-size-section:16px;           // phone
$title-size-section-tablet:24px;    // tablet
$title-size-section-desktop:24px;   // desktop

$content-size-section:16px;         // phone
$content-size-section-tablet:24px;  // tablet
$content-size-section-desktop:24px; // desktop

$text-gray-size:16px;               // phone
$text-gray-size-tablet:24px;        // tablet
$text-gray-size-desktop:24px;       // desktop

$primary-text-size: 16px;           // phone
$primary-text-size-tablet: 24px;    // tablet
$primary-text-size-desktop: 25px;   // desktop

$secondary-text-size:16px;          // phone
$secondary-text-size-tablet:24px;          // phone
$secondary-text-size-desktop:25px;          // phone


// /* -------------------- */
// /* -- specific size --  */
// /* -------------------- */

// /* ---------- text map ---------- */
$text-map-size:19px;                // phone
$text-map-size-tablet:19px;         // tablet
$text-map-size-desktop: 19px;       // desktop